### Creating and Persisting an ML Model

In [339]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/student-mat.csv', sep=';')

Summary of the data

In [340]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [341]:
df.info

<bound method DataFrame.info of     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]>

The goal is to predict the quality of the student. We will build a predictor based on the final grade (G3).
Becasue we are trying to find quality students. In this model we define a quality student as one who achieves a final grade of 15 or higher.

In [342]:
df['qual_student'] = np.where(df['G3']>=15, 1, 0)

In [343]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,qual_student
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190,0.184810
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443,0.388636
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000,0.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000,0.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000,0.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000,1.000000

Drop the G3 score

In [344]:

include = ['school', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
            'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'higher', 'internet', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences']

include.append('qual_student')

df.drop(columns=df.columns.difference(include), inplace=True) 
df.describe(include='all')

,school,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,higher,internet,famrel,freetime,goout,Dalc,Walc,health,absences,qual_student
count,395,395.000000,395,395,395,395.000000,395.000000,395,395,395,...,395,395,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
unique,2,NaN,2,2,2,NaN,NaN,5,5,4,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,GP,NaN,U,GT3,T,NaN,NaN,other,other,course,...,yes,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,349,NaN,307,281,354,NaN,NaN,141,217,145,...,375,329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,16.696203,NaN,NaN,NaN,2.749367,2.521519,NaN,NaN,NaN,...,NaN,NaN,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,0.184810
std,NaN,1.276043,NaN,NaN,NaN,1.094735,1.088201,NaN,NaN,NaN,...,NaN,NaN,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,0.388636
min,NaN,15.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,...,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,NaN,16.000000,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,NaN,...,NaN,NaN,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,0.000000
50%,NaN,17.000000,NaN,NaN,NaN,3.000000,2.000000,NaN,NaN,NaN,...,NaN,NaN,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,0.000000
75%,NaN,18.000000,NaN,NaN,NaN,4.000000,3.000000,NaN,NaN,NaN,...,NaN,NaN,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,0.000000
max,NaN,22.000000,NaN,NaN,NaN,4.000000,4.000000,NaN,NaN,NaN,...,NaN,NaN,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,1.000000

encode categorical data via onehotencoder and pickle it for later use

In [345]:
from sklearn.preprocessing import OneHotEncoder
import pickle

categoricals = []
for col, col_type in df.dtypes.iteritems():
     if col_type == 'O':
          categoricals.append(col)

# produce encoder for categorical data only
encoder = OneHotEncoder(dtype=int)

encoder.fit(df[categoricals])
with open("dockerfile/apps/encoder", "wb") as f: 
    pickle.dump(encoder, f)
with open("dockerfile/apps/categoricals", "wb") as f: 
    pickle.dump(categoricals, f)

df_cat = pd.DataFrame(encoder.transform(df[categoricals]).toarray(), columns=encoder.get_feature_names(categoricals))
df_val = df[df.columns.difference(categoricals)]
df = df_val.join(df_cat)

Import scikit-learn and build addaboost classifier

In [346]:
import sklearn
# from sklearn.ensemble import RandomForestClassifier as rf
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier

dependent_variable = 'qual_student'

x = df[df.columns.difference([dependent_variable])]
y = df[dependent_variable]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

dt = DecisionTreeClassifier(max_depth=1)

clf = AdaBoostClassifier(
    base_estimator=dt,
    learning_rate=0.2,
    n_estimators=10000,
    algorithm="SAMME.R",
)
clf.fit(x_train, y_train)

print("-----Train-----")
pred = clf.predict(x_train)
print("Accuracy: {:.4%}".format(clf.score(x_train, y_train)))
print("F1 Score: {:.4%}".format(sklearn.metrics.f1_score(y_train,pred, average='binary')))

print("-----Test-----")
pred = clf.predict(x_test)
print("Accuracy: {:.4%}".format(clf.score(x_test, y_test)))
print("F1 Score: {:.4%}".format(sklearn.metrics.f1_score(y_test,pred, average='binary')))

-----Train-----
Accuracy: 98.9130%
F1 Score: 97.2973%
-----Test-----
Accuracy: 78.1513%
F1 Score: 38.0952%

Run the prediction with the training data

In [347]:
# for now don't care about self classification
pred = clf.predict(x_train)

print('****Results****')
print("Accuracy: {:.4%}".format(clf.score(x_train, y_train)))
print("F1 Score: {:.4%}".format(sklearn.metrics.f1_score(y_train,pred, average='binary')))
print("Recall Score: {:.4%}".format(sklearn.metrics.recall_score(y_train,pred, average='binary')))
print("Precision Score: {:.4%}".format(sklearn.metrics.precision_score(y_train,pred, average='binary')))

****Results****
Accuracy: 98.9130%
F1 Score: 97.2973%
Recall Score: 98.1818%
Precision Score: 96.4286%

Run the prediction with the testing data

In [348]:
pred = clf.predict(x_test)

print('****Results****')
print("Accuracy: {:.4%}".format(clf.score(x_test, y_test)))
print("F1 Score: {:.4%}".format(sklearn.metrics.f1_score(y_test, pred, average='binary')))
print("Recall Score: {:.4%}".format(sklearn.metrics.recall_score(y_test,pred, average='binary')))
print("Precision Score: {:.4%}".format(sklearn.metrics.precision_score(y_test,pred, average='binary')))

****Results****
Accuracy: 78.1513%
F1 Score: 38.0952%
Recall Score: 44.4444%
Precision Score: 33.3333%

In [349]:
import joblib
# modify the file path to where you want to save the model
joblib.dump(clf, 'dockerfile/apps/model2.pkl')

['dockerfile/apps/model2.pkl']

In [350]:
# query_df = pd.DataFrame({ 'age' : pd.Series(1) ,'health' : pd.Series(15) ,'absences' : pd.Series(10)})
# query_df = pd.DataFrame({ 'health' : pd.Series(15), 'absences' : pd.Series(5), 'Dalc' : pd.Series(10), 'Walc' : pd.Series(10)})

query_df = pd.DataFrame({ 'health' : pd.Series(15), 'absences' : pd.Series(5), 'failures' : pd.Series(10), 'Medu' : pd.Series(3), 'Fedu' : pd.Series(4),})

Below is an example of how to use the pickled encoder to encode inputs

In [351]:
import pickle
with open("dockerfile/apps/encoder", "rb") as f: 
    encoder = pickle.load(f)
with open("dockerfile/apps/categoricals", "rb") as f: 
    categoricals = pickle.load(f)

query_cat = pd.DataFrame(encoder.transform(query_df[categoricals]).toarray(), columns=encoder.get_feature_names(categoricals))

query_val = query_df[query_df.columns.difference(categoricals)]

query_df = query_val.join(query_cat) # this order here is important

clf.predict(query_df)

KeyError: "None of [Index(['school', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason',\n       'guardian', 'schoolsup', 'famsup', 'paid', 'activities', 'higher',\n       'internet'],\n      dtype='object')] are in the [columns]"

In [ ]:
type(x)